
.startbutt{
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin:0 auto;
    padding: 50px;
    position: center;
    border-radius: 500%;
    background: linear-gradient(blue,white) fixed;
    color: black;
}
.startbutt2{
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin:0 auto;
    padding: 50px;
    position: center;
    border-radius: 50%;
    background: linear-gradient(green,white) fixed;
    color: black;
}
.divbutt{
   display: flex;
}

.textstart{
    text-shadow: 1px 1px 2px grey;
    text-align: center;
}
.tipbut{
    margin-left: auto;
    background: blue;
    color: white;
}